<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>Marionette Template</title>
<link rel="stylesheet" href="styles/vendor/bootstrap.css">
<link rel="stylesheet" href="styles/vendor/jasny-bootstrap.css">
<link rel="stylesheet" href="styles/main.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="navmenu navmenu-default navmenu-fixed-left"> <a class="navmenu-brand" href="#">Categories</a>
  <ul class="nav navmenu-nav">
    <li><a href="#">Latest News</a></li>
    <li><a href="#">Auction Previews</a></li>
    <li><a href="#">Auction Highlights</a></li>
    <li><a href="#">Consignments</a></li>
    <li><a href="#">Conventions</a></li>
    <li><a href="#">Current Auctions</a></li>
    <li><a href="#">Ending Today</a></li>
    <li><a href="#">General News</a></li>
    <li><a href="#">Profiles</a></li>
    <li><a href="#">Last Chance to Bid</a></li>
    <li><a href="#">NSCC Shows</a></li>
    <li><a href="#">Radio Program</a></li>
    <li><a href="#">Videos</a></li>
  </ul>
</div>
<div class="canvas">
  <div class="navbar navbar-default navbar-fixed-top">
  <div class="nvbar-header">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button><a class="navmenu-brand" href="#">Auction REport</a></div>
  </div>
  <div class="container">
    <div id="main-content" class="starter-template"> </div>
  </div>
  <!-- /.container --> 
</div>
<!-- .canvas --> 

<!-- Templates --> 
<script type="text/template" id="hello-template">
          <p>Hello, <%= name %>, I was rendered from a template!</p>
        </script> 
<script type="text/template" id="main-template">
          <% _.each(data, function (item) { %>
              <div class="list-group-item">
                <h3><a class="view-link" href="#<%= item.ID %>"><%= item.title %></a></h3>
                <a class="view-link" href="#<%= item.ID %>"><img src="<%= item.featured_image.attachment_meta.sizes.thumbnail.url %>" /></a>
              </div>
          <% }); %>
        </script> 
<script type="text/template" id="single-post-template">
          <h2><%= post.title %></h2>
		      <%= post.content %>
        </script> 

<!-- libraries --> 
<script src="scripts/vendor/jquery-1.11.2.js"></script> 
<script src="scripts/vendor/lodash.js"></script> 
<script src="scripts/vendor/backbone.js"></script> 
<script src="scripts/vendor/backbone.marionette.js"></script> 
<script src="scripts/vendor/bootstrap.js"></script> 
<script src="scripts/vendor/jasny-bootstrap.min.js"></script> 
<!-- App --> 
<script src="scripts/app/namespace.js"></script> 
<script src="scripts/app/app.js"></script> 
<!-- Modules --> 
<script src="scripts/app/modules/MainModule.js"></script> 
<!-- Views --> 
<script src="scripts/app/views/PostListView.js"></script> 
<script src="scripts/app/views/SinglePostView.js"></script> 
<!-- Models --> 
<script src="scripts/app/models/MainModel.js"></script> 
<script>
            $(function () {
              'use strict';
                var options = {
                    someOption: 'Foo'
                };
                dts.App.start(options);
            });
        </script>
</body>
</html>
