body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    padding-top: 50px;/*offset for nav*/
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*Helper classes*/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}

/* Jasny navmenu reveal */

html, body {
  height: 100%;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: 1;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }
}