html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
body {
	padding-top: 60px;/*offset for nav*/
	font-family: Helvetica, Arial, sans-serif;
}
.starter-template {
}

/*Helper classes*/
.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}
/* app styles */
.navbar {
  	min-height: 60px;
	background: #202020;
	border: none;
	border-top: 2px solid #ff5b4c;
}.navbar-toggle {
  padding: 13px 10px;
}
.nav-title {
	padding: 0;
	float: left;
}
.navmenu-title {
	display: block;
	padding: 22px 0 14px 14px;
	margin: 0;
	font-size: 20px;
	line-height: 1.6rem;
	font-weight: 900;
	font-style: italic;
	letter-spacing: -1px;
	color: #202020;
	white-space:nowrap;
	background-color: #c0c0c0;
	min-height: 60px;
}
.navmenu-brand {
	display: block;
	padding: 22px 0 14px;
	margin: 0;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.6rem;
	font-weight: 900;
	font-style: italic;
	letter-spacing: -1px;
	color: #f0f0f0;
	white-space:nowrap
}
a.navmenu-brand:hover {
	color: #f0f0f0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #f0f0f0;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
	margin-bottom: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-back {
	position: relative;
	float: left;
  padding: 13px 10px;
	margin-top: 6px;
	margin-right: 12px;
	margin-bottom: 0;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	margin-left: 8px;
}
.navbar-back span {
	color: #fff;
}
.toggle-nav button {
	margin-right: 0;
	margin-left: 6px;
}
.back-btn button {
	margin-left: 2px;
	margin-right: 8px;
}
.navmenu .glyphicon {
	float: right;
}
.navmenu-fixed-left, .navbar-offcanvas.navmenu-fixed-left {
  border-width: 0;
}
.navmenu-default, .navbar-default .navbar-offcanvas {
  border-color: transparent;
}
.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
	color: #505050;
	font-size: 1.6rem;
	border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.my-class img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 12px 0;
}
.list-group-item {
	padding: 10px 0;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: 1px solid transparent;
}
.list-group .row:nth-child(even) {
	background-color:#efefef;
}
.list-group-item .col-xs-4 {
	padding-left: 0;
}
.list-group-item h4 {
font size:16px;
	font-size:1.6rem;
}
.list-group-item a {
	color: #202020;
}
.list-group-item a:hover { text-decoration: none; color: #ff5b4c; }
/* Jasny navmenu reveal */

.navbar-toggle {
	float: left;
	margin-left: 10px;
}
.navmenu {
	z-index: 1;
}
.navmenu,
.navbar-offcanvas {
	width: 75%;
}
/* fix for overlapping menus if right menu is present */
.navmenu-fixed-right {
	display: none;
}
.navmenu-fixed-right.in {
	display: block;
}
.canvas {
	position: relative;
	left: 0;
	z-index: 2;
	min-height: 100%;
	padding: 0;
	background: #fff;
}

.iscroll {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	/*background: #ccc;*/
	overflow: hidden;
}


 @media (min-width: 0) {
.navbar-toggle {
	display: block; /* force showing the toggle */
}
}
 @media (min-width: 992px) {
.canvas {
	padding: 0;
}
}